;; Analyzed by ClojureScript 1.7.228
{:use-macros nil, :excludes #{}, :name om-next-datascript-localisation-demo.utils.app, :imports nil, :requires {om om.next, om.next om.next}, :uses nil, :defs {set-app-locale {:protocol-inline nil, :meta {:file "/Users/simonb/src/clojurescript/om/om-next-datascript-localisation-demo/src/om_next_datascript_localisation_demo/utils/app.cljs", :line 5, :column 7, :end-line 5, :end-column 21, :arglists (quote ([comp id]))}, :name om-next-datascript-localisation-demo.utils.app/set-app-locale, :variadic false, :file "src/om_next_datascript_localisation_demo/utils/app.cljs", :end-column 21, :method-params ([comp id]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 5, :end-line 5, :max-fixed-arity 2, :fn-var true, :arglists (quote ([comp id]))}}, :require-macros {om om.next, om.next om.next}, :cljs.analyzer/constants {:seen #{:app.locale :db/id app.locale/set}, :order [app.locale/set :db/id :app.locale]}, :doc nil}