/* the following lines attempt to clear the css palette */
*, *:before, *:after {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    list-style: inherit;
    margin: 0;
    outline: 0;
    overflow: inherit;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    vertical-align: baseline;
    *vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* typography */
    text-rendering: optimizeLegibility; /* can cause bizarre line breaks  */
    font-kerning: auto;
    font-variant-ligatures: normal;
    letter-spacing: 0.01rem;
    -moz-font-feature-settings: 'liga' on;
    word-spacing: normal;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* standard HTML tags */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  line-height: 1.3;
  background-color: #eeeeee;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

h1 {
  font-size: 160%;
  margin-bottom: 10px;
}

h2 {
  font-size: 150%;
  margin-bottom: 10px;
}

h3 {
  font-size: 140%;
  margin-bottom: 10px;
}

h4 {
  font-size: 130%;
  margin-bottom: 10px;
}

h5 {
  font-size: 120%;
  margin-bottom: 10px;
}

h6 {
  font-size: 110%;
  margin-bottom: 10px;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a:focus {
  text-decoration: underline;
}

p {
  margin-bottom: 10px;
  overflow: hidden;
}

ol {

}

ol li {

}

ul {
  margin-bottom: 10px;
}

ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 10px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input[type="text"] {
  border: 1px silver solid;
}

input[type="password"] {
  border: 1px silver solid;
}

textarea {
  border: 1px silver solid;
}

select {
  border: 1px silver solid;
}

button {
  border: 1px silver solid;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

button:focus {
  color: blue;
  border-color: gray;
}

button:focus span {
  color: blue;
}

button:hover {
  color: blue;
  border-color: gray;
}

button:hover span {
  color: blue;
}

button:active {
  color: blue;
  background-color: silver;
}

hr {
  background-color: silver;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* handy classes */

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
}

.base {
  clear: both;
}

.comment {
  background-color: #fcffb4;
}

/* tables */

table{
  -webkit-table-layout: fixed;
  table-layout: fixed;
  width: auto;
}

table thead th{
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
  background-color: #babadb;
  border: 1px gray solid;
  padding: 5px;
}

td{
  padding: 5px;
  border: 1px silver solid;
}

tr.odd{
}

tr.even{
  background-color: #f5f5fe;
}

td.center-column{
  text-align: center;
}

/* site specific stuff below */

#container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  padding: 5px;
  margin-top: 5px;
}

div.functional-block{
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px silver solid;
}

.editable-text{
  border: 1px silver dashed;
  padding: 2px;
  border-radius: 3px;
}

.editable-text input{
  width: 100%;
}

.localised-string-column-width{
  width: 200px;
}

.select-column-width{
  width: 40px;
}

tr.localised-string td{
  padding-top: 8px;
  padding-bottom: 8px;
}

p.explain{
  font-style: italic;
  color: gray;
  line-height: 2;
}
